@font-face {
  font-family: 'Luna Bella';
  src: url('../assets/fonts/Luna Bella.ttf'), format('ttf');
}

body {
  background-color: red;
  background-image: url('../assets/images/travels_bg.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Luna Bella';
}

.hello {
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}